* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  a:hover {
    color: #ffffff;
  }
  
  html {
    font-family: 'europa', 'Nunito', sans-serif;;
    font-style: normal;
  }
  
  .sidebar {
    height: 100vh;
    width: 12rem;
    position: fixed;
    background: #39406D;
    color: #cccccc;
  }
  
  .logo {
    position: absolute;
    width: 4.5rem;
    height: 1.8rem;
    left: 0.75rem;
    top: 0.7rem;
    /* background: url(icons/echoVC.png); */
    background-repeat: no-repeat;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .sidebar ul {
    font-size: 0.7rem;
    line-height: 1rem;
    letter-spacing: 0.05em;
    color: #CCCCCC;
    position: absolute;
    width: 11.5rem;
    height: 1rem;
    left: 0.75rem;
    top: 2.5rem;
  }
  
  .fa-search {
    position: absolute;
    width: 11rem;
    height: 2rem;
    left: 0.5rem;
    top: 5.6rem;
    background: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .sidebar hr {
    position: relative;
    width: 11.8rem;
    height: 0px;
    left: 0px;
    top: 3.6rem;
    border: 1px solid #292F59;
  }
  
  input.search {
    position: absolute;
    width: 9rem;
    height: 1.8rem;
    left: 1rem;
    top: 0.1rem;
    font-size: 0.8rem;
    border-radius: 10px;
    /* padding-left: 1rem; */
    border: hidden;
    background: #fff;
  }
  
  .fa-search img {
    position: relative;
    margin-left: 9.5rem;
    padding-top: .4rem;
  }
  
  .sidebar-ul {
    list-style: none;
    margin-left: -0.9rem;
  }
  
  ul li .sidebar-li {
    display: flex;
    position: relative;
    width: 12rem;
    height: 2.4rem;
    font-family: 'Nunito';
    font-size: 0.67rem;
    font-weight: 550;
    line-height: 1rem;
    top: 6rem;
    padding: 0.8rem 0;
    padding-left: 0.5rem;
    cursor: pointer;
  }
  
  ul li .sidebar-li:hover {
    background: #293059;
  }
  
  ul li .sidebar-li img {
    padding-right: 0.3rem;
    margin-top: 0rem;
    color: #cccccc;
    height: 100%;
  }
  
  .dropdownIcon a {
    /* display: none; */
  }

  .dashboard-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  
  
  @media(max-width:700px){
  
  /*----- Sidebar Responsiveness -------*/
  
  ul.sidebar-ul .dropdownIcon a {
    /* width: 2rem; */
    display: flex !important;
    justify-content: flex-start;
    color: #000;
    font-weight: 800;
    font-size: 1.7rem;
    margin-top: 1.4rem;
    cursor: pointer;
    margin-left: 1.5rem;
    margin-right: -1.2rem;
  }
  
  }
  
  
  @media (max-width: 1180px){
    ul.sidebar-ul li:not(:nth-last-child()){
      display: block;
      }
  }
  
  
  @media(max-width:700px){
      .sidebar{
           display: none;
      }
  
  }
  